img {
    width: 100%;
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.logo {
    font-family: 'Rock Salt', cursive;
    font-size: 1.8rem;
    text-align: center;
    background-color: red;
}

.datos {
    font-size: 1.1rem;
    text-align: center;
}

.navmenu {
    position: relative;
    padding: 15px;
    z-index: 2000;

    .iconomen {
        color: white;
        font-size: 1.3rem;
        cursor: pointer;
        display: block;
        border: 1px solid white;
        border-radius: 15px;
        margin-top: 3px;
        margin-left: 8px;
        text-align: center;
    }

    .menu {
        position: absolute;
        margin-top: 46px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        left: 0;
        height: 0;
        overflow: hidden;
        transition: height .3s linear;

        ul {
            width: 100%;
        }

        .menu-item {
            text-align: center;
            list-style: none;
            padding: 10px;

            &:hover {
                background-color: red;
            }
        }

        .menu_link {
            text-decoration: none;
            font-size: 1rem;
            color: white;

            &:hover {
                color: white;
            }
        }

        .menu_select {
            background-color: red;

            a {
                color: white;
            }
        }
    }

    .mostrar {
        height: 235px;
    }

    .social {
        position: absolute;
        right: 10px;

        .redes {
            display: flex;
            justify-content: space-between;

            a {
                margin-right: 30px;
                color: black;
                border-radius: 500%;
                background-color: white;
                height: 40px;
                width: 40px;
                text-align: center;
                line-height: 40px;
                font-size: 1.3rem;
            }
        }
    }
}

.banner {
    width: 100%;
    position: relative;
    margin-top: -70px;

    &::before {
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        left: 0;
        z-index: 1500;

    }

    .imgbanner {
        height: 500px;
        object-fit: cover;
    }

    .contenido {
        position: absolute;
        width: 90%;
        color: white;
        left: 50%;
        top: 50%;
        transform: translatex(-50%) translateY(-50%);
        z-index: 1600;
        font-size: 1.2rem;
    }

}

.titulo01 {
    h2 {
        font-family: 'Rock Salt', cursive;
        color: red;
        font-size: 1.5rem;
        text-align: center;
    }
}

@mixin botones {
    display: block;
    text-align: center;
    width: 200px;
    margin: auto;
    background-color: red;
    color: white;
    padding: 15px;
    text-decoration: none;
}

.img_column {
    img {
        border: 5px solid brown;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.about {
    margin: auto;

    p {
        text-align: justify;
        font-family: 'Delius', cursive;
    }

    h2 {
        text-align: center;
    }

    .masinfo {
        @include botones;

        &:hover {
            background-color: rgb(209, 63, 9);

        }
    }
}

.combos01 {
    .combos {
        border: 2px solid brown;
        border-radius: 30px;

        h3 {
            color: tomato;
        }

        .esp_img {
            margin: auto;
            border-radius: 30px;
            border: 5px solid brown;
            height: 250px;
            width: 300px;

            &:hover {
                transform: scale(1.2);
            }
        }

        p {
            text-align: justify;
            font-family: 'Delius', cursive;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        a {
            @include botones;
            margin-bottom: 20px;
        }
    }
}

.datosfood {
    text-align: center;

    .columntxt {
        text-align: justify;

        p {
            text-align: center;

            a {
                color: white;
                text-decoration: none;
            }
        }

    }
}

.ourteam {
    .img_equipo {
        border: 3px solid brown;
        height: 300px;
        width: 95%;
    }

    .desc_equipo {
        text-align: justify;
        font-family: 'Delius', cursive;
        border: 1px solid brown;
        padding: 10px;
    }
}

.newgale_box {
    h2 {
        font-size: 1.5rem;
    }

    img {
        height: 350px;
        width: 450px;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
        border: 2px solid brown;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.formulario {
    border: 5px solid black;
    border-radius: 50px;
    padding: 15px;
}

.buttonn {
    @include botones;

    &:hover {
        color: white;
    }
}

.hola{
    .comentt{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}
.justificar{
    text-align: justify;
    font-family: 'Delius', cursive;
}